
* {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-style: inherit;
}

body {
  background-color: #a6e22e;
}

.tank {
  position: relative;
  right: -34px;
  width: 425px;
  height: 510px;
  margin: 3% auto;

  background-image: url("images/logitank.svg");
  background-size: 200%;
  background-position: 0 0;
  
  cursor: pointer;
}

/* so responsive */
@media
screen and (max-width: 531px) { /* 531.25 * .8 = 425*/
  .tank {
    height: 0;
    width: 80%;
    right: -8%;
    padding-bottom: 96%; /* (600/500) * 80 */ 
    margin: 10% 7%;
  }
}

@-webkit-keyframes swing {
  50% { background-position: 100% 0; }
}
@-moz-keyframes swing {
  50% { background-position: 100% 0; }
}
@-o-keyframes swing {
  50% { background-position: 100% 0; }
}
@keyframes swing {
  50% { background-position: 100% 0; }
}

.unplugged {
  -webkit-animation: swing 750ms steps(1) infinite; 
  -moz-animation: swing 750ms steps(1) infinite; 
  -o-animation: swing 750ms steps(1) infinite; 
  animation: swing 750ms steps(1) infinite; 
}

@-webkit-keyframes flicker {
  0%, 37%, 63% { background-position: 0 100%; }
  25%, 49%, 100% { background-position: 100% 100%; }
}
@-moz-keyframes flicker {
  0%, 37%, 63% { background-position: 0 100%; }
  25%, 49%, 100% { background-position: 100% 100%; }
}
@-o-keyframes flicker {
  0%, 37%, 63% { background-position: 0 100%; }
  25%, 49%, 100% { background-position: 100% 100%; }
}
@keyframes flicker {
  0%, 37%, 63% { background-position: 0 100%; }
  25%, 49%, 100% { background-position: 100% 100%; }
}

.plugged-in {
  -webkit-animation: flicker 1200ms steps(1) 1;
  -moz-animation: flicker 1200ms steps(1) 1;
  -o-animation: flicker 1200ms steps(1) 1;
  animation: flicker 1200ms steps(1) 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

