* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E7C600;
}

a,
a:HOVER,
body {
  color: #231f20;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;

  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.header { margin-top: 10%; }

.footer {
  margin-top: 200px;
  margin-bottom: 40px;
}

.text-md { font-size: 2.25em; }
.text-xs { font-size: 1.25em; }
.text-center { text-align: center; }
.text-heavy {
  font-weight: 700;
  font-style: italic;
}

.flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-content {
  flex: 1;
}

#splash {
  display: block;
  width: 100%;
  padding-bottom: 84.210526315%;
  background-image: url("images/splash.svg");
  background-size: 200%;
  background-position: 0 0;

  -webkit-animation: blink 900ms steps(1) infinite;
  -moz-animation: blink 900ms steps(1) infinite;
  -ms-animation: blink 900ms steps(1) infinite;
  animation: blink 900ms steps(1) infinite;
}

@-webkit-keyframes blink {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
}
@-moz-keyframes blink {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
}
@-ms-keyframes blink {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
}
@keyframes blink {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
}
