
* {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-style: inherit;
}

.tank {
  width: 230px; 
  height: 230px;
  margin: 6% auto;
  background-image: url("images/tank.svg");
  background-size: 100%;
  background-position: 0 100%;
 
  animation: transmit 2000ms steps(4) 1;
  -moz-animation: transmit 2000ms steps(4) 1;
  -webkit-animation: transmit 2000ms steps(4) 1; 
}

@-webkit-keyframes transmit {
  0% { background-position: 0 0; }
  40% { background-position: 0 0; }
  100% { background-position: 0 100%; }
}
@-moz-keyframes transmit {
  0% { background-position: 0 0; }
  40% { background-position: 0 0; }
  100% { background-position: 0 100%; }
}
@keyframes transmit {
  0% { background-position: 0 0; }
  40% { background-position: 0 0; }
  100% { background-position: 0 100%; }
}

